timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/SKATmutQTL_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/SKATmutQTL_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/SKATmutQTL_trace.txt"
}

process {

        memory = { 2.GB * task.attempt }
        errorStrategy = {task.exitStatus == 143 ? 'retry' : 'ignore'}
        maxRetries = 3
}
